from datetime import timedelta

from temporalio import workflow

with workflow.unsafe.imports_passed_through():
    from activities.{{ activity_module }} import {{ request_class }}, {{ activity_func }}


@workflow.defn
class {{ workflow_class }}:
    @workflow.run
    async def run(self, prompt: str) -> str:
        return await workflow.execute_activity(
            {{ activity_func }},
            {{ request_class }}(prompt=prompt),
            start_to_close_timeout=timedelta(seconds=30),
        )
